<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <a href="/inv">RETURN TO INVENTORY</a> || <a href="/inv/new">ADD PRODUCT</a>|| <a href="/inv/d">DELETED PRODUCTS</a>
